# Scraping
requests
beautifulsoup4
trafilatura

# RAG
langchain
chromadb
sentence-transformers
# Forcer l'installation de torch version CPU uniquement (plus léger, pas de dépendances CUDA)
torch==2.2.2
openai  # si tu utilises GPT
tqdm

# Optionnel : affichage local ou CLI
gradio

# Pour la description d'images et de vidéos (BLIP, PIL, torch, opencv, numpy, datetime)
transformers
Pillow
torch
opencv-python
numpy<2
bs4
