# Scraping
requests
beautifulsoup4
trafilatura

# RAG
langchain
chromadb
sentence-transformers

openai  # si tu utilises GPT
tqdm

# Optionnel : affichage local ou CLI
gradio
streamlit

# Pour la description d'images et de vidéos (BLIP, PIL, torch, opencv, numpy, datetime)
transformers
Pillow
torch>=2.6.0
opencv-python
numpy<2
bs4
